@model PasswordGeneratorApp.Models.PasswordGeneratorModel

<form action="GeneratePassword" method="post">
    <div class="form-group">
        <label for="length">Password Length:</label>
        <input type="number" name="Length" id="length" value="@Model.Length" />
    </div>
    <div class="form-group">
        <input type="checkbox" asp-for="IncludeUppercaseLetters" id="include-uppercase-letters" value="true" checked="@Model.IncludeUppercaseLetters" />
        <label for="include-uppercase-letters">Include Uppercase Letters</label>
    </div>
    <div class="form-group">
        <input type="checkbox" asp-for="IncludeLowercaseLetters" id="include-lowercase-letters" value="true" checked="@Model.IncludeLowercaseLetters" />
        <label for="include-lowercase-letters">Include Lowercase Letters</label>
    </div>
    <div class="form-group">
        <input type="checkbox" asp-for="IncludeNumbers" id="include-numbers" value="true" checked="@Model.IncludeNumbers" />
        <label for="include-numbers">Include Numbers</label>
    </div>
    <div class="form-group">
        <input type="checkbox" asp-for="IncludeSymbols" id="include-symbols" value="true" checked="@Model.IncludeSymbols" />
        <label for="include-symbols">Include Symbols</label>
    </div>
    <input type="submit" value="Generate Password" class="btn btn-primary" />
</form>

@if (Model.GeneratedPassword != null)
{
    <div class="alert alert-success">
        Your generated password is: <span class="badge bg-primary">@Model.GeneratedPassword</span>
    </div>
}
